@mixin fontFace($family, $src, $style: normal, $weight: normal) {
    @font-face {
        font-family: $family;
        src: url('#{$src}.woff') format('woff'),
        url('#{$src}.woff2') format('woff2');
        font-style: $style;
        font-weight: $weight;
    }
}

@mixin theme($themes...) {
    @each $theme in $themes {
        @if $theme == dark {
            .dark-theme & {
                @content;
            }
        }
        @if $theme == light {
			.light-theme & {
                @content;
            }
		}
    }
}

@mixin quebratexto {
    white-space: -o-pre-wrap;
    white-space: -moz-pre-wrap;
    word-wrap: break-word; //Internet Explorer 5.5+
    word-break: break-word;
}

@mixin transition($transition) {
    transition: $transition;
    -webkit-transition: $transition;
    -moz-transition: $transition;
    -ms-transition: $transition;
    -o-transition: $transition;
}

@mixin transform($rotacao) {
    transform: $rotacao;
    -webkit-transition: $rotacao;
    -moz-transition: $rotacao;
    -ms-transition: $rotacao;
    -o-transition: $rotacao;
}

@mixin placeholder {
    &::placeholder {
        @content;
    }

    &:-ms-input-placeholder {
        @content;
    }

    &::-ms-input-placeholder {
        @content;
    }
}

@mixin navegador($navegadores...) {
    @each $navegador in $navegadores {
        @if $navegador==explore {

            @media screen and (-ms-high-contrast: active),
            (-ms-high-contrast: none) {
                @content;
            }
        }

        @if $navegador==firefox {
            @-moz-document url-prefix() {
                @content;
            }
        }
    }
}