//Colors default
$c-escurao: #333333 !default;
$c-escuro: #666666 !default;
$c-medio: #999999 !default;
$c-claro: #cccccc !default;
$c-clarao: #f1f1f1 !default;

$textos: 'Source Sans Pro', sans-serif !default;
$titulos: 'Montserrat', sans-serif !default;

//Light mode
$primaria: #03A9F4;
$primaria-hover: darken($primaria, 10%);

$fundo-claro: #f9f9f9;
$fundo-escuro: #f1f1f1;
$f0: #000;
$borda: #ced4da;

$texto: #666666;

$menu-txt: #000;////////////////////////////////////////////////
$menu-fundo: #000;
$menu-fundo-hover: #000;
$menu-clicado: #000;


//Dark mode
$primaria-dark: #03A9F4; 
$primaria-hover-dark: darken($primaria-dark, 10%);

$fundo-claro-dark: #202020;
$fundo-escuro-dark: #131313;
$f0-dark: #fff;
$borda-dark: #444;

$texto-dark: #aaaaaa;

//Responsive breakpoints
$m575: 575.98px;
$m576: 576px;
$m767: 767.98px;
$m768: 768px;
$m991: 991.98px;
$m992: 992px;
$m1199: 1199.98px;
$m1200: 1200px;

//Medias px em rem
$s1: 0.063rem;
$s2: 0.125rem;
$s3: 0.188rem;
$s4: 0.25rem;
$s5: 0.313rem;
$s6: 0.375rem;
$s7: 0.4375rem;
$s8: 0.5rem;
$s9: 0.5625rem;
$s10: 0.625rem;
$s11: 0.6875rem;
$s12: 0.75rem;
$s13: 0.8125rem;
$s14: 0.875rem;
$s15: 0.9375rem;
$s16: 1rem;
$s17: 1.0625rem;
$s18: 1.125rem;
$s19: 1.1875rem;
$s20: 1.25rem;
$s25: 1.5625rem;
$s30: 1.875rem;
$s35: 2.1875rem;
$s40: 2.5rem;
$s45: 2.8125rem;
$s50: 3.125rem;
//Se precisar de mais numero é só somar
//ex. SCSS: font-size: $s50 * 2; CSS font-size: 6.25rem (=100px)

//Fontes
//@include fontFace('opensans-regular','http://cdn.ici.curitiba.org.br/fontes/opensans-regular');
//@include fontFace('opensans-bold','http://cdn.ici.curitiba.org.br/fontes/opensans-bold',normal, bold);