@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap');
@import "_bs-icones.scss";
@import "_mixins.scss";
@import "_media.scss";
@import "_variables.scss";

body {
    font-family: $textos;
    color: $texto;
    padding-top: 56px;
    background-color: $fundo-escuro;

    &.dark-theme {
        color: $texto-dark;
        background-color: $fundo-escuro-dark;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $titulos;
    color: $f0;
    margin: 0px;

    @include theme(dark) {
        color: $f0-dark;
    }
}

h1 {
    font-size: $s20;
    color: $f0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    @include theme(dark) {
        color: $f0-dark;
    }

    @include media(sm-abaixo) {
        display: none;
    }

    a {
        color: $f0;

        @include theme(dark) {
            color: $f0-dark;
        }

        &:hover {
            color: $f0;

            @include theme(dark) {
                color: $f0-dark;
            }
        }
    }
}


h2 {
    font-size: $s20 + $s4;
    font-weight: 600;
}


h3 {
    font-size: $s20 + $s2;
    margin-bottom: 8px;
}

ol,
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    color: $primaria;

    @include theme(dark) {
        color: $primaria-dark;
    }

    &:hover {
        color: $primaria-hover;
        text-decoration: none;

        @include theme(dark) {
            color: $primaria-hover-dark;
        }
    }
}

input[type="text"],
textarea {
    border-color: $borda;
    background-color: $fundo-escuro;

    @include theme(dark) {
        border-color: $borda-dark;
        background-color: $fundo-escuro-dark;
    }

    &:hover,
    &:focus {
        color: $f0;
        background-color: $fundo-escuro;

        @include theme(dark) {
            color: $f0-dark;
            background-color: $fundo-escuro-dark;
        }
    }
}

.divisor {
    width: 100%;
    height: 0;
    margin: .5rem 0;
    overflow: hidden;
    border-top: 1px solid $borda;

    @include theme(dark) {
        border-top: 1px solid $borda-dark;
    }
}

.dropdown-divider {
    border-color: $borda;

    @include theme(dark) {
        border-color: $borda-dark;
    }
}

.dropdown-menu {
    border-top: 0px;
    box-shadow: 0px 2px 0px rgba(0, 0, 0, .2);
    background-color: $fundo-claro;

    @include theme(dark) {
        background-color: $fundo-claro-dark;
    }

    .dropdown-item {
        display: flex;
        align-items: center;
        justify-content: space-between; 
        padding-left: 10px;
        padding-right: 10px;

        &:hover,
        &:active {
            background-color: $primaria;

            @include theme(dark) {
                color: black;
                background-color: $primaria-dark;
            }
        }

        i {
            font-size: $s20;
            margin-right: 7px;
        }
    }

    a {
        color: $texto;

        @include theme(dark) {
            color: $texto-dark;
        }
    }
}

.btn {

    &:focus,
    &.focus {
        box-shadow: none;
    }
}

.btn-primario {
    color: white;
    background-color: $primaria;
    border-color: $primaria;

    @include theme(dark) {
        background-color: $primaria-dark;
        border-color: $primaria-dark;
    }

    &:hover {
        color: white;
        background-color: $primaria-hover;
        border-color: $primaria-hover;

        @include theme(dark) {
            background-color: $primaria-hover-dark;
            border-color: $primaria-hover-dark;
        }
    }

    &.focus,
    &:focus {
        color: white;
        background-color: $primaria-hover;
        border-color: $primaria-hover;
        box-shadow: 0 0 0 .2rem rgba($primaria, .5);

        @include theme(dark) {
            background-color: $primaria-hover-dark;
            border-color: $primaria-hover-dark;
            box-shadow: 0 0 0 .2rem rgba($primaria-dark, .5);
        }
    }

    &.disabled,
    &:disabled {
        color: white;
        background-color: $primaria;
        border-color: $primaria;

        @include theme(dark) {
            background-color: $primaria-dark;
            border-color: $primaria-dark;
        }
    }

    &:not(:disabled):not(.disabled).active,
    &:not(:disabled):not(.disabled):active,
    .show>&.dropdown-toggle {
        color: white;
        background-color: $primaria-hover;
        border-color: $primaria;

        @include theme(dark) {
            background-color: $primaria-hover-dark;
            border-color: $primaria-dark;
        }
    }

    &:not(:disabled):not(.disabled).active:focus,
    &:not(:disabled):not(.disabled):active:focus,
    .show>&.dropdown-toggle:focus {
        box-shadow: 0 0 0 .2rem rgba($primaria, .5);

        @include theme(dark) {
            box-shadow: 0 0 0 .2rem rgba($primaria-dark, .5);
        }
    }
}

.btn-outline-primario {
    color: $primaria;
    border-color: $primaria;

    @include theme(dark) {
        color: $primaria-dark;
        border-color: $primaria-dark;
    }


    &:hover {
        color: white;
        background-color: $primaria;
        border-color: $primaria;

        @include theme(dark) {
            background-color: $primaria-dark;
            border-color: $primaria-dark;
        }
    }

    &.focus,
    &:focus {
        box-shadow: 0 0 0 .2rem rgba($primaria, .5);

        @include theme(dark) {
            box-shadow: 0 0 0 .2rem rgba($primaria-dark, .5);
        }
    }

    &.disabled,
    &:disabled {
        color: $primaria;
        background-color: transparent;

        @include theme(dark) {
            color: $primaria-dark;
        }
    }

    &:not(:disabled):not(.disabled).active,
    &:not(:disabled):not(.disabled):active,
    .show>&.dropdown-toggle {
        color: white;
        background-color: $primaria;
        border-color: $primaria;

        @include theme(dark) {
            background-color: $primaria-dark;
            border-color: $primaria-dark;
        }
    }

    &:not(:disabled):not(.disabled).active:focus,
    &:not(:disabled):not(.disabled):active:focus,
    .show>&.dropdown-toggle:focus {
        box-shadow: 0 0 0 .2rem rgba($primaria, .5);

        @include theme(dark) {
            box-shadow: 0 0 0 .2rem rgba($primaria-dark, .5);
        }
    }
}

header {
    position: fixed;
    top: 0;
    z-index: 1;
    background: $fundo-claro;
    box-shadow: 0px 2px 0px rgba(0, 0, 0, .2);

    @include theme(dark) {
        background: $fundo-claro-dark;
    }

    .icone-menu {
        display: flex;
        justify-content: start;
        align-items: center;
        height: 56px;

        .menu-icone {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 30px;
            min-width: 30px;
            height: 30px;
            margin-right: 12px;
            border-radius: 50%;
            cursor: pointer;

            .btn-menu {
                display: inline-block;
                width: 18px;
                height: 18px;
                background-image: url(../img/menu-aberto.svg);
                background-repeat: no-repeat;
                background-size: cover;

                @include theme(dark) {
                    background-image: url(../img/menu-aberto-dark.svg);
                }
            }

            &:hover {
                background-color: $primaria;

                @include theme(dark) {
                    background-color: $primaria-dark;
                }

                .btn-menu {
                    background-image: url(../img/menu-aberto-hover.svg);
                }
            }

            &.clicado {
                .btn-menu {
                    background-image: url(../img/menu-fechado.svg) !important;

                    @include theme(dark) {
                        background-image: url(../img/menu-fechado-dark.svg) !important;
                    }
                }

                &:hover {
                    background-color: $primaria;

                    .btn-menu {
                        background-image: url(../img/menu-fechado-hover.svg) !important;
                    }
                }
            }


        }
    }

    .busca {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 56px;

        .input-group {
            @include media(sm-abaixo) {
                justify-content: flex-end;
            }
        }

        button {
            border-color: $borda;
            background-color: $fundo-claro;

            @include theme(dark) {
                border-color: $borda-dark;
                background-color: $fundo-claro-dark;
            }

            @include media(sm-abaixo) {
                border-color: transparent !important;
                background-color: transparent !important;
            }

            &:hover {
                background-color: $fundo-escuro;

                @include theme(dark) {
                    background-color: $fundo-escuro-dark;
                }
            }

            @include media(sm-abaixo) {
                background-color: transparent;
                border-color: transparent;
                padding: 0;

                &:hover,
                &:focus,
                &:active {
                    outline: none;
                    box-shadow: none;
                    background-color: transparent;
                }
            }
        }

        input {

            @include media(sm-abaixo) {
                position: fixed !important;
                top: 55px;
                left: -25px;
                border-radius: 0;
                border: 0;
                box-shadow: 0 2px 0 rgba(0, 0, 0, .2);
                @include transition(.35s);

                @include theme(dark) {
                    background-color: $c-escurao;
                }
            }

            &.clicado {
                width: 100% !important;
                left: 0;
            }
        }

        .search {
            width: 18px;
            height: 18px;
            margin: 0 12px 2px 12px;
            background-size: contain;
            background-image: url(../img/search.svg);

            @include theme(dark) {
                background-image: url(../img/search-dark.svg);
            }

            @include media(sm-abaixo) {
                width: 22px;
                height: 22px;
                margin: 0 0 2px 0;
            }
        }
    }

    .perfil {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        height: 56px;

        @include media(sm-abaixo) {
            justify-content: space-between;
        }

        .configuracoes {
            font-size: $s25;
            color: $c-claro;
            padding: 10px 0;
            margin-right: 5px;
            cursor: pointer;

            &:hover {
                color: $primaria;

                @include theme(dark) {
                    color: $primaria-dark;
                }
            }
        }

        p {
            margin: 0;
        }

        .perfil-box {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 175px;
            padding: 5px 5px 5px 20px;
            border-radius: 40px;
            cursor: pointer;

            @include media(md-abaixo) {
                width: 47px;
                padding: 5px;
                margin-left: 10px;
            }

            &:hover,
            &.clicado {
                color: $primaria;
                background-color: $fundo-escuro;

                @include theme(dark) {
                    color: $primaria-dark;
                    background-color: $fundo-escuro-dark;
                }

                .perfil-foto {
                    border-color: $primaria;

                    @include theme(dark) {
                        border-color: $primaria-dark;
                    }
                }
            }

            .perfil-texto {
                width: 102px;

                @include media(md-abaixo) {
                    display: none;
                }

                p {
                    font-size: $s14;
                    font-weight: 600;
                    margin-bottom: -6px;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;

                    &+p {
                        font-weight: 400;
                        color: $c-medio;
                        margin: 0px;
                    }
                }
            }

            .perfil-foto {
                display: flex;
                justify-content: center;
                align-items: flex-start;
                width: 36px;
                height: 36px;
                border-radius: 50%;
                border: 1px solid $c-claro;
                overflow: hidden;

                img {
                    width: 46px;
                    height: 46px;
                }
            }
        }
    }
}

.pag-titulo {
    border-bottom: 1px solid $borda;
    margin-bottom: 25px;

    @include theme(dark) {
        border-bottom: 1px solid $borda-dark;
    }
}

.conteudo {
    display: flex;
    min-height: calc(100vh - 56px);
}

aside {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: space-between;
    width: 240px;
    padding: 15px 0;
    height: calc(100vh - 56px);
    overflow: auto;
    white-space: nowrap;
    @include transition(.20s);
    border-right: 1px solid;
    border-color: transparent;
    background-color: $fundo-claro;

    @include theme(dark) {
        background-color: $fundo-claro-dark;
    }

    &:hover {

        //barra movel
        &::-webkit-scrollbar-thumb {
            border-radius: 50px;
            background-color: $menu-hover;

            @include theme(dark) {
                background-color: $menu-hover-dark;
            }
        }
    }

    //barra movel tamanho 
    &::-webkit-scrollbar {
        width: 0.5rem;
    }

    //caminho/fundo da barra
    &::-webkit-scrollbar-track {
        background: $fundo-claro;

        @include theme(dark) {
            background: $fundo-claro-dark;
        }
    }

    &.menu-mobilephone {
        left: -241px;
        position: absolute;
        top: 58px;
        z-index: 4;
        box-shadow: 2px 2px 0px rgba(0, 0, 0, 0.2);
        @include transition(.20s);

        &.menu-mobilephone-aberto {
            left: 0;
        }
    }

    &.menu-fechado {
        width: 60px;
        overflow: hidden;
        @include transition(.20s);
        border-color: $borda;

        @include theme(dark) {
            border-color: $borda-dark;
        }

        nav {
            position: absolute;
            left: 0;            

            ul {
                border: 0px;
                @include transition(none);

                ul {
                    position: absolute;
                    left: 60px;
                    z-index: 1;
                    width: 180px;
                }
            }

            li {

                &.ativo {
                    a {
                        background-color: transparent !important;
                    }
                }

                &:hover {
                    width: 240px;
                    position: relative;
                    background-color: $menu-hover;
                    z-index: 2;
                    visibility: visible;

                    @include theme(dark) {
                        background-color: $menu-hover-dark;
                    }

                    .collapse {
                        visibility: visible;
                        background-color: $menu-hover;

                        @include theme(dark) {
                            background-color: $fundo-claro-dark;
                        }

                        &:not(.show) {
                            display: block;
                            background-color: $menu-hover;

                            @include theme(dark) {
                                background-color: $fundo-claro-dark;
                            }
                        }
                    }

                    ul {

                        li {
                            width: 180px;

                            a {
                                padding-left: 10px !important;
                            }
                        }

                        span {
                            visibility: visible;
                            white-space: nowrap;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            margin: 0px;
                        }
                    }

                    span {
                        visibility: visible;
                    }
                }

                span {
                    visibility: hidden;
                    margin-left: 20px;

                    &+span {
                        display: none;
                    }
                }
            }
        }

        .desenvolvimento-mobile {
            display: block;
            font-size: 22px;
            padding: 100px 0px 5px 20px;
            cursor: pointer;

            &:hover {
                color: $primaria;

                @include theme(dark) {
                    color: $primaria-dark;
                }
            }
        }

        .desenvolvimento {
            position: absolute;
            left: -100%;
            bottom: 0px;
            z-index: 1;
            width: 220px;
            height: 200px;
            flex-direction: column;
            justify-content: space-around;
            padding: 10px;
            border: 1px solid $borda;
            background-color: $fundo-claro;
            @include transition(.35s);
            box-shadow: 2px -2px 0px rgba(0, 0, 0, 0.2);

            @include theme(dark) {
                border: 1px solid $borda-dark;
                background-color: $fundo-claro-dark;
            }

            .divisor {
                display: none;
            }

            &.clicado {
                left: 59px;
                @include transition(.35s);
            }
        }

        .submenu {
            li {
                &:hover {
                    a {
                        background-color: $submenu-hover !important;

                        @include theme(dark) {
                            background-color: $submenu-hover-dark !important;
                        }

                        span {
                            color: $f0;

                            @include theme(dark) {
                                color: $f0-dark;
                            }
                        }
                    }
                }
            }
        }
    }

    //menu-fechado ↑↑

    nav {

        ul {
            border-bottom: 1px solid;
            border-color: $borda;
            margin-bottom: 20px;

            @include theme(dark) {
                border-color: $borda-dark;
            }

            li {

                a {
                    display: flex;
                    align-items: center;
                    color: $texto;
                    height: 44px;
                    padding: 10px 20px;

                    @include theme(dark) {
                        color: $texto-dark;
                    }

                    &:hover {
                        color: $f0;
                        background-color: $menu-hover;

                        @include theme(dark) {
                            color: $f0-dark;
                            background-color: $menu-hover-dark;
                        }

                        i {
                            color: $f0;

                            @include theme(dark) {
                                color: $f0-dark;
                            }
                        }
                    }

                    &[aria-expanded="true"] {

                        .icone-chevron-down {

                            &:before {
                                @include transform(rotate(-180deg));
                            }
                        }
                    }
                }

                i {
                    color: $menu-txt;
                    font-size: $s20;
                    margin-right: 10px;

                    @include theme(dark) {
                        color: $menu-txt-dark;
                    }
                }

                &.ativo {

                    a {
                        color: $f0;
                        border-left: 4px solid $f0;
                        background-color: $menu-hover;
                        padding-left: 16px;

                        @include theme(dark) {
                            color: $f0-dark;
                            border-left: 4px solid $f0-dark;
                            background-color: $menu-hover-dark;
                        }
                    }

                    i {
                        color: $f0;

                        @include theme(dark) {
                            color: $f0-dark;
                        }
                    }

                    ul {

                        li {

                            &.ativo,
                            &:hover {

                                //SUBMENUS
                                a {
                                    color: $f0 !important;
                                    background-color: $submenu-hover;

                                    @include theme(dark) {
                                        color: $f0-dark !important;
                                        background-color: $submenu-hover-dark;
                                    }
                                }
                            }
                        }
                    }
                }

                ul {
                    li {
                        a {
                            color: inherit !important;
                            border-left: 0px !important;
                            padding-left: 50px !important;
                        }
                    }
                }

                .icone-chevron-down {
                    font-size: $s14;
                    font-weight: 600;
                    text-align: right;
                    flex: auto;
                    margin: 0;

                    &:before {
                        display: inline-block;
                        @include transition(.35s);
                    }
                }
            }

            ul {
                border-bottom: 0px;
                margin-bottom: 0px;
            }
        }
    }

    .desenvolvimento-mobile {
        display: none;
    }

    .desenvolvimento {
        display: flex;
        flex-direction: column;
        font-size: $s14;
        padding: 0 15px 20px 15px;

        p {
            margin: 0px;
        }
    }
}

main {
    position: relative;
    width: 100%;
    min-width: 0;
    max-width: 100%;
    height: calc(100vh - 56px);
    flex-basis: 0;
    flex-grow: 1;
    overflow: auto;
    padding: 20px 30px;
}

.painel {
    padding: 15px;
    margin-bottom: 25px;
    border-radius: 6px;
    border: 1px solid $c-claro;
    border-color: $borda;
    background-color: $fundo-claro;

    @include theme(dark) {
        border-color: $borda-dark;
        background-color: $fundo-claro-dark;
    }
}

.table {
    color: $f0;

    @include theme(dark) {
        color: $f0-dark;
    }
}

.table-bordered {

    td,
    th {
        border-color: $borda;

        @include theme(dark) {
            border-color: $borda-dark;
        }
    }

    thead {

        td,
        th {
            border-color: $borda;

            @include theme(dark) {
                border-color: $borda-dark;
            }
        }
    }
}

.table-responsive,
.modal-body {

    //barra movel tamanho 
    &::-webkit-scrollbar {
        height: 0.5rem;
    }

    //caminho/fundo da barra
    &::-webkit-scrollbar-track {
        background: $c-medio;
    }

    //barra movel
    &::-webkit-scrollbar-thumb {
        border-radius: 50px;
        background: $c-escuro;

        &:hover {
            border-radius: 50px;
            background: $c-escurao;
        }
    }
}

.modal-body {

    //barra movel tamanho 
    &::-webkit-scrollbar {
        width: 0.5rem;
    }
}

.modal {

    .modal-header,
    .modal-footer {
        border-color: inherit;
        background-color: $fundo-escuro;

        @include theme(dark) {
            border-color: black;
            background-color: $fundo-escuro-dark;
        }

        span {
            color: $primaria;
        }
    }

    .modal-body {
        background-color: $fundo-claro;

        @include theme(dark) {
            background-color: $fundo-claro-dark;
        }
    }
}

.switch {
    position: relative;
    display: inline-block;
    width: 34px;
    height: 19px;
    margin: 0px;

    input {
        opacity: 0;

        &:checked {
            &+.slider {
                background-color: $primaria;

                @include theme(dark) {
                    background-color: $primaria-dark;
                }

                &:before {
                    @include transform(translateX(15px));
                }
            }
        }
    }

    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        border-radius: 30px;
        background-color: $c-claro;
        @include transition(.4s);

        &:before {
            position: absolute;
            content: "";
            height: 15px;
            width: 15px;
            left: 2px;
            bottom: 2px;
            border-radius: 50%;
            background-color: white;
            @include transition(.4s);

            @include theme(dark) {
                background-color: black;
            }
        }
    }
}

.breadcrumb {
    justify-content: flex-end;
    padding: 0;
    background-color: transparent;

    @include media(sm-abaixo) {
        justify-content: flex-start;
    }

    .breadcrumb-item {

        &+.breadcrumb-item {
            font-family: 'bs-icones' !important;

            &::before {
                content: "\ea3a";
                font-size: $s12;
                font-weight: 600;
                padding-top: 5px;
            }
        }
    }
}

.checkbox-radio {
    display: block;
    position: relative;
    padding-left: 25px;
    padding-right: 15px;
    margin-bottom: 12px;
    cursor: pointer;

    &:hover {
        color: $primaria;

        @include theme(dark) {
            color: $primaria-dark;
        }

        input~.checkmark {
            border-color: $primaria;

            @include theme(dark) {
                border-color: $primaria-dark;
            }
        }
    }

    input {
        position: absolute;
        opacity: 0;
        height: 0;
        width: 0;
        cursor: pointer;

        &:checked~.checkmark {
            border-color: $primaria;

            @include theme(dark) {
                border-color: $primaria-dark;
            }

            &:after {
                display: block;
            }
        }
    }

    .checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 20px;
        width: 20px;

        &:after {
            content: "";
            position: absolute;
            display: none;
        }
    }

    &.radios {
        .checkmark {
            border-radius: 50%;
            border: 2px solid $c-claro;

            &:after {
                top: 3px;
                left: 3px;
                width: 10px;
                height: 10px;
                border-radius: 50%;
                background: $primaria;
            }
        }
    }

    &.checkbox {
        input {
            &:checked~.checkmark {
                background-color: $primaria;

                @include theme(dark) {
                    background-color: $primaria-dark;
                }
            }
        }

        .checkmark {
            border-radius: 4px;
            border: 2px solid $c-claro;

            &:after {
                left: 5px;
                top: 0px;
                width: 7px;
                height: 13px;
                border: solid white;
                border-width: 0 3px 3px 0;
                @include transform(rotate(45deg));
            }
        }
    }
}